@import "./medias.scss";
@import "./variables.scss";

/* Common */
* {
  box-sizing: border-box;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

section {
  margin: 12px;
}

header {
  margin: 12px;
}

button:hover {
  background-color: $color-button-hover-background;
}

button {
  border-radius: 1em;
  border: #000000;
  color: #ffffff;
  font-size: 18px;
  background: #000000;
  padding: 8px 16px 8px 16px;
  // mix-blend-mode: color-dodge;
}

button:hover {
  background: #666666;
}

.main_background {
  // padding: auto;
}

.background_gradient {
  margin: 0;
  background:
    // left
    linear-gradient(
      220deg,
      rgb(rgba(rgb(236, 255, 192), 255), 50%),
      rgb(255 0 0 / 0%) 30%
    ),
    // right
    linear-gradient(
        140deg,
        rgb(rgba(197, 101, 99, 255), 100%),
        rgb(0 255 0 / 0%) 70%
      ),
    // bottom
    linear-gradient(0deg, rgb(blue, 70%), rgb(blue, 0%) 80%);
}

/* Page header */
.page-title {
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo-text {
    width: fit-content;
    text-align: center;
    color: black;
    background-clip: text;
    margin: 32px auto;
  }

  &__city-info {
    display: flex;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  &__place {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__search-input {
    display: none;
    color: grey;
    height: 36px;
    min-width: 400px;
    border: 2px solid grey;
    border-radius: 1em;
    position: absolute;
    z-index: 1;
    right: 20px;
    margin: 0 32px;
    padding: 12px;
  }

  &__search-input:focus {
    outline-color: grey;
  }
}

h2,
h5 {
  margin: 0px 10px;
}

.rectangle {
  width: auto;
  height: auto;
  border-radius: 0.6em;
  text-align: left;
  padding: 0px;
  margin: 0 auto;
  color: lightgray;
  background-color: rgba(246, 246, 246, 15%);
  padding: 12px;
}

/* Main content */
.content {
  p {
    margin: 0px;
    padding: 20px;
  }

  &__chart-caption {
    position: absolute;
    display: table-caption;
    caption-side: left;
  }
}

.conditions {
  display: flex;
  align-items: baseline;
  gap: 24px;
  margin: 0px;
  padding-left: 20px;

  abbr {
    font-size: 16px;
  }

  &__temperature,
  &__precipitation,
  &__wind {
    display: grid;
    align-items: baseline;

    p {
      font-size: 32px;
      padding: 6px;
    }
  }

  &__temperature {
    grid-template-columns: auto auto;
    p {
      color: #ba352e;
      padding: 0;
    }
  }

  &__precipitation,
  &__wind {
    grid-template-columns: auto auto auto;
    color: #000000;
  }

  &__precipitation {
    color: rgb(24, 90, 161);
  }
}

// Charts. From https://chartscss.org/charts/line/
#line-example-15 {
  width: 100%;
  max-width: 450px;
  margin: auto;
}
#line-example-15 .line {
  --aspect-ratio: 20 / 9;
}

/* Page footer */
.page-footer {
  margin: 12px;
  padding-top: 12px;
  padding-bottom: 32px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(2, 15%);
    grid-template-rows: 16px repeat(2, 1fr);
    grid-gap: 12px;
    grid-template-areas:
      "powered .  apps links"
      "logo    .  apps links"
      "editor  .    .    .";
  }

  &__logos {
    grid-area: logo;
  }

  &__editor {
    grid-area: editor;
  }

  &__links {
    grid-area: links;
  }

  &__apps {
    grid-area: apps;
  }
}
