@import "./medias.scss";
@import "./variables.scss";

/* Common */
* {
  box-sizing: border-box;
}

.text-rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.horizontal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  margin: 12px;
}

header {
  margin: 12px;
}

button {
  width: 100px;
  height: 30px;
  background-color: #ffffff;
  color: #000000dc;
  border: 2px solid $yellow_color;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
}

button:hover {
  background-color: #fff9dbdc;
}

// from https://chartscss.org/charts/line/
#line-example-15 {
  width: 100%;
  max-width: 450px;
  margin: auto;
}
#line-example-15 .line {
  --aspect-ratio: 20 / 9;
}
//

/* Page header */
.page-title {
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo-text_gradient {
    text-align: center;
    background: #fed71d;
    background: linear-gradient(to left, #fed71d 0%, #ea443a 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
  }
}

town-info h2,
town-info h5 {
  margin: 0px 10px;
}

/* Main content */

.content {
  &__background_gradient {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(
      to bottom,
      rgba(97, 152, 207, 0.3),
      white
    );
  }
}

.conditions {
  display: flex;
  align-items: baseline;
  gap: 24px;
  margin: 12px;
  padding-left: 20px;

  abbr {
    font-size: 16px;
  }

  &__temperature,
  &__precipitation,
  &__wind {
    display: grid;
    align-items: baseline;

    p {
      font-size: 22px;
      padding: 6px;
    }
  }

  &__temperature {
    grid-template-columns: auto auto;
    p {
      color: #ea443a;
    }
  }

  &__precipitation,
  &__wind {
    grid-template-columns: auto auto auto;
  }

  &__precipitation {
    color: rgb(24, 90, 161);
  }
}


.rectangle {
  width: 100%;
  height: auto;
  border: 2px solid #fed71d;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
  color: lightgray;
  background-color: #f6f6f6;
}



.chart-section {
  margin: 12px;
}

/* Page footer */
footer {
  margin: 12px;
}
